body {
    background-color: #151515;
}

h2 {
    color      : #B4A5A5;
    font-size  : 8em;
    text-align : center;
    font-family: 'Poppins', sans-serif;
}


button {
    margin: 20px;
}

.custom-btn {
    font-size    : 2em;
    width        : max-content;
    height       : auto;
    color        : #151515 !important;
    border-radius: 5px;
    padding      : 10px 25px;
    font-family  : 'Lato', sans-serif;
    font-weight  : 500;
    background   : #b3a5a4;
    cursor       : pointer;
    transition   : all 0.3s ease;
    position     : relative;
    display      : inline-block;
    box-shadow   : inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    outline      : none;
}

.btn-16 {
    border: none;
    color : #000;
}

.btn-16:after {
    position : absolute;
    content  : "";
    width    : 0;
    height   : 100%;
    top      : 0;
    left     : 0;
    direction: rtl;
    z-index  : -1;
}

.btn-16:hover {
    color: #000;
}

.btn-16:hover:after {
    left : auto;
    right: 0;
    width: 100%;
}

.btn-16:active {
    top: 2px;
}

button.custom-btn.btn-16 {
    margin       : 0;
    position     : absolute;
    top          : 50%;
    left         : 50%;
    -ms-transform: translate(-50%, -50%);
    transform    : translate(-50%, -50%);
}

button.custom-btn.btn-16.ml {
    position   : absolute;
    margin-left: 4%;
}

button.custom-btn.btn-16.mll {
    margin-left: 2%;
    margin-top : 4%;
}